@{
  TempData.Keep();
  string? currentPage = ViewContext.HttpContext.Request.Path;
}

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
  <div
    class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Home" asp-action="Index" class="app-brand-link">
      <div class="d-flex align-items-center" style="padding-right: 15px;">
        <img src="~/img/discounts/icon3.png" alt="Logo" style="width:45 px; height: 50px; margin-right: 5px; margin-left: -25px;" />
        <span class="app-brand-text demo menu-text">
          <span style="font-weight: bold; color: black; font-family: 'Bevan', serif; font-size: 2rem;">Reseller</span>
          <span style="font-weight: bold; color: #ec7905; font-family: 'Bevan', serif; font-size: 2rem;">Panel</span>
        </span>
      </div>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i
        class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center menu-toggle-icon d-none d-xl-flex"></i>
      <i class="bx bx-x d-flex d-xl-none bx-sm align-middle align-items-center justify-content-center"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

  @* ! Starter Kit menu-items *@
  <ul class="menu-inner py-1">
    <li class='menu-item@(currentPage == "/" ? " active" : "")'>
      <a asp-controller="Home" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/home.png" alt="Home" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Home" style=" color: black;">Home</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Reseller" ? " active" : "")'>
      <a asp-controller="Reseller" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/sub.png" alt="Reseller" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Sub-Reseller" style=" color: black;">Sub-Reseller</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Orders" ? " active" : "")'>
      <a asp-controller="Orders" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/orders.png" alt="Orders" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Orders" style=" color: black;">Orders</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Files") ? " active" : "")'>
      <a asp-controller="Files" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/files.png" alt="Files" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Files" style=" color: black;">Files</div>
      </a>
    </li>
    <li class='menu-item@(currentPage.StartsWith("/Discount") ? " active" : "" )'>
      <a asp-controller="Discount" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/discount.png" alt="Discount" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Discount" style=" color: black;">Discount</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Competitors" ? " active" : "" )'>
      <a asp-controller="Competitors" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/competitors.png" alt="Competitors" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Competitors" style=" color: black;">Competitors</div>
      </a>
    </li>

    <li class='menu-item@(currentPage == "/Balance" ? " active" : "")'>
      <a asp-controller="Balance" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/balance.png" alt="Balance" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Balance" style=" color: black;">Balance</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Invoice" ? " active" : "")'>
      <a asp-controller="Invoice" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/invoice.png" alt="Invoice" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Invoice" style=" color: black;">Invoice</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/Store" ? " active" : "")'>
      <a asp-controller="Store" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/store.png" alt="Store" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Store" style=" color: black;">Store</div>
      </a>
    </li>
    <li class='menu-item@(currentPage == "/CustomersTickets" ? " active" : "")'>
      <a asp-controller="CustomersTickets" asp-action="Index" class="menu-link">
        <img src="~/img/customertickets.png" alt="Customers Tickets" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Customers Tickets" style=" color: black;">Customers Tickets</div>
      </a>
    </li>

    <li class='menu-item@(currentPage == "/RestoHiveTickets" ? " active" : "")'>
      <a asp-controller="RestoHiveTickets" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/tickets.png" alt="RestoHive Tickets" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="RestoHive Tickets" style=" color: black;">RestoHive Tickets</div>
      </a>
    </li>

    <li class='menu-item@(currentPage == "/Settings" ? " active" : "")'>
      <a asp-controller="Settings" asp-action="Index" class="menu-link">
        <img src="~/img/discounts/settings.png" alt="Settings" class="menu-icon" style="width: 25px; height: 25px; margin-right: 10px; margin-left: 1px;" onerror="this.style.display='none'" />
        <div data-i18n="Settings" style=" color: black;">Settings</div>
      </a>
    </li>
  </ul>

</aside>
<!-- / Menu -->
